{% extends "base.html" %}
{% block title %}Об авторе проекта{% endblock %}
{% block content %}
{% load static %}
<h1 style="text-align:center;">Привет, я автор этого сайта!</h1>
<br>

<div class="row">
  <aside class="col-12 col-md-7">
    <img class="author_img" src="{% static 'img/author.JPG' %}">
  </aside>

  <article class="col-12 col-md-5">
    <p>
      Меня зовут Александр Дементьев!
      Мне нравится использовать компьютерные программы и веб-приложения, которые помогают оптимизировать своё время в повседневной жизни. Я пришёл в мир программирования, потому что я сам захотел делать такие программы и веб-приложения, делать полезные вещи, которыми будут пользоваться я и другие люди.
    </p>
    <p>
      Если у вас есть идеи по разработке интересных веб-приложений, то вы смело можете обращаться ко мне за помощью.
    </p>
    <span class="author_span">
      <p>Технологии:</p>
      <a class="navbar-brand" href="{% url 'about:tech' %}">
        <img src="{% static 'img/logo.png' %}" width="30" height="30" class="d-inline-block align-top" alt="">
      </a>
    </span>

    <span class="author_span">
      Мои Github:
      <a class="navbar-brand" target="_blank" href="https://github.com/DementevAleksander">
        <img src="{% static 'img/github.png' %}" width="30" height="30" class="d-inline-block align-top" alt="">
      </a>
    </span>
  </article>

  <section class="section_skills" id="section_skills">
    <h1>Вот что я умею</h1>
    <div class="section_wrapper">
      <h3>Разработка</h3>

      <div class="skillbar" data-percent="100">
        <div class="skillbar-title development"><span>HTML5</span></div>
        <div class="skillbar-bar development_line"></div>
        <div class="skill-bar-percent">100%</div>
      </div>
      
      <div class="skillbar" data-percent="95">
        <div class="skillbar-title development"><span>CSS3</span></div> 
        <div class="skillbar-bar development_line"></div>
        <div class="skill-bar-percent">95%</div>
      </div>

      <div class="skillbar" data-percent="45">
        <div class="skillbar-title development"><span>Python</span></div>
        <div class="skillbar-bar development_line"></div>
        <div class="skill-bar-percent">45%</div>
      </div>

      <div class="skillbar" data-percent="45">
        <div class="skillbar-title development"><span>Django</span></div>
        <div class="skillbar-bar development_line"></div>
        <div class="skill-bar-percent">45%</div>
      </div>
      
      <div class="skillbar" data-percent="35">
        <div class="skillbar-title development"><span>JavaScript</span></div>
        <div class="skillbar-bar development_line"></div>
        <div class="skill-bar-percent">35%</div>
      </div>
      
      <div class="skillbar" data-percent="35">
        <div class="skillbar-title development"><span>ReactJS</span></div>
        <div class="skillbar-bar development_line"></div>
        <div class="skill-bar-percent">35%</div>
      </div>

      <div class="skillbar" data-percent="35">
        <div class="skillbar-title development"><span>SQL</span></div>
        <div class="skillbar-bar development_line"></div>
        <div class="skill-bar-percent">35%</div>
      </div>
      
      <h3>Дизайн</h3>

      <div class="skillbar" data-percent="55">
        <div class="skillbar-title development"><span>Photoshop</span></div>
        <div class="skillbar-bar development_line"></div>
        <div class="skill-bar-percent">55%</div>
      </div>

      <div class="skillbar" data-percent="45">
        <div class="skillbar-title development"><span>Figma</span></div>
        <div class="skillbar-bar development_line"></div>
        <div class="skill-bar-percent">45%</div>
      </div>

      <h3>Другие навыки</h3>

      <div class="skillbar" data-percent="60">
        <div class="skillbar-title development"><span>Git + Github</span></div>
        <div class="skillbar-bar development_line"></div>
        <div class="skill-bar-percent">60%</div>
      </div>

      <div class="skillbar" data-percent="85">
        <div class="skillbar-title development"><span>Microsoft Office</span></div>
        <div class="skillbar-bar development_line"></div>
        <div class="skill-bar-percent">85%</div>
      </div>

    </div>
    <div class="divider divider_skills">
    </div>
  </section>

  
</div>
{% endblock %} 