{% extends "base.html" %}
{% block title %}Технологии{% endblock %}
{% block content %}
<div class="row">
  <section>
    Для разработки данного сайта я использовал популярную библиотеку Python - Django. Конечно же понадобились знания HTML5 и CSS3 и немного javascript, а так же умение работать с запросами к базе данных (SQL).
  </section>

  <section>
    <a  href="{% url 'about:author' %}">
      Об авторе
    </a>
  </section>

  <section class="section_skills" id="section_skills">
    <div class="section_wrapper">
      <h3>Технолгии yatube</h3>

      <div class="skillbar" data-percent="70">
        <div class="skillbar-title development"><span>Python/Django</span></div>
        <div class="skillbar-bar development_line"></div>
        <div class="skill-bar-percent">70%</div>
      </div>

      <div class="skillbar" data-percent="30">
        <div class="skillbar-title development"><span>HTML5</span></div>
        <div class="skillbar-bar development_line"></div>
        <div class="skill-bar-percent">15%</div>
      </div>
      
      <div class="skillbar" data-percent="25">
        <div class="skillbar-title development"><span>CSS3</span></div> 
        <div class="skillbar-bar development_line"></div>
        <div class="skill-bar-percent">10%</div>
      </div>
      
      <div class="skillbar" data-percent="15">
        <div class="skillbar-title development"><span>JavaScript</span></div>
        <div class="skillbar-bar development_line"></div>
        <div class="skill-bar-percent">5%</div>
      </div>

    </div>
    <div class="divider divider_skills">
    </div>
  </section>

</div>
{% endblock %}